<footer id="rodape"><!--inicio footer -->
    <!-- 73º div container -->
    <div class="container">
        <!-- 74º div row -->
        <div class="row">
            <!-- 75º div col -->
            <div class="col-md-2">
      <span  class="preto">AUTO</span><span class="logo">NOTES</span>
            </div>
            
            <!-- 76º div col -->
            <div class="col-md-2">
                <!-- 81º h4 -->
                <h4>Empresa</h4>
                    <!-- 82º ul -->
                    <ul class="navbar-nav">
                        <!-- 83º li -->						<!-- 84º ir em estilo.css -->		
                        <li><a href="">Sobre</li></a>
                        <li><a href="">Empregos</li></a>
                        <li><a href="">Imprensa</li></a>
                        <li><a href="">Novidades</li></a>
                    </ul>
            </div>

            <div class="col-md-2">
                <h4>Comunidades</h4>
                    <ul class="navbar-nav">
                        <li><a href="">Artistas</li></a>
                        <li><a href="">Desenvolvedores</li></a>
                        <li><a href="">Marcas</li></a>
                    </ul>
            </div>

            <div class="col-md-2">
                <h4>Links uteis</h4>
                    <ul class="navbar-nav">	
                        <li><a href="">Ajuda</li></a>
                        <li><a href="">Presentes</li></a>
                        <li><a href="">Player da web</li></a>
                    </ul>
            </div>

                <!-- 79º div col -->  <!--  ir em estilo.css 80º -->
            <div class="col-md-4">
                <!-- 84º ul -->		
                <ul>
                    <!-- 85º li -->		<!-- 86º estilo.css-->		
                    <li>
          <div class="photo">
                        <a href=""><img src="/frontend/assets/img/facebook.png" class="espacamento-imagem"></a>
          <div>
                    </li>

                        <li>
          <div class="photo">
                        <a href=""><img src="/frontend/assets/img/twitter.png" class="espacamento-imagem"></a>
          </div>
                    </li>

                        <li>
            <div class="photo">
                        <a href=""><img src="/frontend/assets/img/instagram.png" class="espacamento-imagem"></a>
          </div>
                    </li>

                </ul>
            </div>
        </div>
    </div>
</footer><!-- fim footer -->


<!-- <span class="preto">AUTO</span><span class="logo">NOTES</span>-->


<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-Piv4xVNRyMGpqkS2by6br4gNJ7DXjqk09RmUpJ8jgGtD7zP9yug3goQfGII0yAns" crossorigin="anonymous"></script>
<script src="./assets/js/bundle.js"></script>
</body>