<header>
    <!-- 3º nav -->

        <nav class="navbar navbar-expand-md navbar-light fixed-top navbar-transparente">
        <!-- 4º div container -->
        <div class="container">
       
        <!-- 5º logo e link -->
        <a href="index.html" class="navbar-brand">			 <!-- poderiamos dentro do href colocar para página index -->
        <span class="preto">Auto</span><span class="logo">Notes</span>
         </a>

         <!-- 8º button -->
         <button class="navbar-toggler" data-toggle="collapse" data-target="#nav-principal">		
             <span class="navbar-toggler-icon"></span><!-- 9º toggler-->		<!-- 10º ir no estilo css-->
         </button>

         <!-- 6º div -->
         <div class="collapse navbar-collapse" id="nav-principal">
         <!-- 7º ul -->
       
         
             <ul class="navbar-nav ml-auto">
             <!-- 7º li -->
             <li class="nav-item">
                 <a href="/" class="nav-link">Home</a>
             </li>

             <li class="nav-item">
              <a href="/produto" class="nav-link">Produto</a>
            </li>

             <li class="nav-item">
                 <a href="/sobre" class="nav-link">Sobre</a>
             </li>

            
             <li class="nav-item">
                 <a href="/logon/cadastro" class="btn btn-outline-light ml-0.5 btn-red">Inscreva-se</a>
             </li>

             <li class="nav-item">
                 <a href="/login/entrar" class="btn btn-outline-light ml-0.5">Entrar</a>
             </li>

             </ul>
             
         </div>
    </div>
        
    </nav>
    </header><!-- fim cabecalho -->