
        <%- include('includes/head') %>
        <!-- 2º header -->
        <%- include('includes/header') %>
      
            <section id="home" class="d-flex"><!-- inicio seção home -->
              <!-- 16º div container -->
              <div class="container align-self-center">
                  <!-- 17º row -->
                  <div  class="row">
                      <!-- 18º colunas -->
                      <div class="col-md-12 capa"> 	<!-- 22º capa: ir em estilo.css adicionar classe -->
                      <!-- 3º div active -->
                    <div>
                      <!-- 4º colar os conteúdos -->
                      <h1>404</h1>
                      <p style="color: white; font-size: 32px;" >Página não encontrada</p>
                     
                      </div>

           </section>
        
           <!-- 72º footer -->
           <%- include('includes/footer') %>
</html>