
   <%- include('includes/head') %>
   <%- include('includes/header') %>
   
   <!-- 53º seção recursos -->
  	<section id="recursos" class="caixa"><!-- inicio seção -->
        <!-- 54º div container -->
        <div class="container" style="padding-top: 70px;">
        <!-- 54º div row -->
        <div class="row">
        <!-- 55º div colunas texto -->
        <div class="col-md-6">
            <!-- 56º h2 -->
            <strong><h2 style="color: orangered;">Sobre o Auto Notes</h2></strong>
            <p>Auto Notes é uma plataforma online criada para ajudar profissionais da música e
                todos que desejam aprender tocar algum instrumento e se familiarizar com a música.</p>

                <p>Além do site, teremos presença mobile por meio do aplicativo Auto Notes Afinador
                Mobile, contendo um dispositivo inter-relacionado que irá no instrumento afinando
                automaticamente. A escolha de implantar a plataforma foi relacionada ao gosto dos
                sócios do projeto, levar a paixão pela música virá um negócio.</p>
                <p>Nossa ideia é utilizar a tecnologia na música, unindo ferramentas para ajudar o usuário
                alcançar seu objetivo.</p>

                <p>Vimos oportunidade de criar este negócio pela situação presente da era digital que tem
                    somente a crescer. Uma nova forma de ganhar dinheiro sem necessidade de ter uma
                    loja física, onde apps são baixados constantemente ajudando as pessoas à resolverem
                    seus problemas.</p>

                    <p>Hoje a maioria das plataformas conectam pessoas com valores em
                    comum e interesses de compartilhar informações, sejam elas pessoais e profissionais.
                    Os instrutores do Auto Notes são músicos de qualidade e de conhecimento para
                    atender todas as exigências do ramo musical.</p>
            

        </div>

        <!-- 66º div colunas imagens -->
        <div class="col-md-6">
            <!-- 67º div row -->
            <div class="row rotacionar">
                <!-- 68º div col -->
                <div class="col-md-6">
                    <img src="/frontend/assets/img/imagem_logo.png" id="small-logo">
                </div>
            </div>
        </div>
    
        
    </div>
        
    </div>

    <div style="border-bottom: 1px solid #e5e5e5; padding-top: 30px;" ></div>
    <div class="container" style="padding-top: 70px;">
        <!-- 54º div row -->
        <div class="row">
        <!-- 55º div colunas texto -->
        <div class="col-md-6">
            <strong><h2 style="color: orangered" >Como surgiu o Auto Notes</h2></strong>
            <p>O Auto Notes surgi, quando os fundadores, Cesar Soares, Ingrind Marques, apaixonados por música, viram não existir
                uma plataforma voltada só para músicos e que pudesse  se conectar de diversas partes
                do mundo. Com o Auto Notes, isto se torna uma realidade através da tecnologia.</p>

            <p>A ideia é tornar a música uma arte mais fácil de ser entendida 
                através da tecnologia, buscando fixar os benefícios de saber 
                tocar um instrumento para suas vidas.</p>

            <p>Os dois se encontraram na Faculdade Fecaf, em São Paulo e assim a ideia do Auto Notes surgiu.
                 Em 2020, começamos a colocar em prática essa visão de inovação no 
                 mercado de entretenimento.</p>

                 <p>
                    <i>"Auto Notes busca inovação sem sair do tradicional, ou seja, 
                    não queremos criar novas formas de fazer música, mas auxiliar 
                    na melhoria do processo antigo dos instrumentos musicais 
                    e elevar a um novo nível. Queremos inserir tecnologia sem deixar que os 
                    instrumentos tradicionais percam seu poder de despertar e expressar emoções humanas".</i>
                </p>
        </div>
    
    
    <div class="col-md-6" style="padding-top: 40px;">
        <div class="row">
            <div class="col-md-6">
                <div class="photo">
                <a href="https://cesarsoftdevelopment.github.io/"><img src="/frontend/assets/img/imagem_perfil.jpeg" alt="Cesar" class="img-fluid media"></a>
                <h3 id="espacamento-cesar" style="color: black; text-align: center;">Cesar Filho</h3>
            </div>
            </div>
                
            <div class="col-md-6">
                 <div class="photo">
                <a href="http://ingridcurriculo.atwebpages.com/profile.html"><img src="/frontend/assets/img/ingrid.jpeg" alt="Cesar" class="img-fluid media"></a>
                <h3 id="espacamento-ingrid" style="color: black; text-align: center;">Ingrid Cardoso</h3>
                </div>
            </div>
        </div>
    </div>
 </div>
    </div>

</section><!-- fim da seção recursos -->

<%- include('includes/footer') %>